{% extends 'base.jinja2' %}

{% block subtitle %}Thank you!{% endblock subtitle %}

{% block content %}
Dearest {{ name }},<br>
Thank you for your donation of ${{ amount }}!<br>
We will use your donation(s) to create real living Pokemon.<br>
You now have our eternal loyalty. Use it wisely.<br>
Sincerely,<br>
We're a Pyramid Scheme & so is {{ name }}
{% endblock content %}